/*Start Default theme*/
/*Active Link */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,

.option-box .gear-check
{
background-color:#d87a27;		
}

.navbar-inverse .navbar-brand span,
.about h1 span,
.testimonials span,
.footer h3,
.footer .copyright span
{
	color:#d87a27;
}

.option-box .color-option,
.testimonials .carousel-indicators li.active
{

	border: 3px solid #d87a27;
}
.dropdown-menu
{	
border-top:3px solid #d87a27;
}

/***** End Default Theme ****/