body
{
	padding-top:70px;
	height:1000px;
	
	
}
/*Start our navbar */
.navbar-inverse
{
	    border-bottom: 3px solid #ef4404;
}
.navbar-inverse .navbar-brand span, .about h1 span,
.testimonials span, .footer h3, .footer .copyright span 
{color:#E41B17;}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav > .active > a:focus
{   
    color:#c7bfbe;
	background-color: #ec1d18;
}

.navbar-inverse .navbar-nav > .active > a:hover
{
	color:#FFF;
	background-color: #ec1d18;
}


.navbar-inverse .navbar-nav > li > a
{
color:#BBB;	
padding-top:18px;
padding-bottom:14px;
font-size:18px;
}

.navbar-inverse .navbar-brand
{
padding-top:18px;
padding-bottom:14px;
font-size:25px;
line-height:16px;
color:#777;	
}
.navbar-brand
{
	font-size:25px;
	line-height:25px;
}
.navbar-toggle
{
	margin-top:18px;
}
.navbar-right .dropdown-menu
{
	left:0;
	right:auto;
}
/*End our navbar*/
/*Start header*/
.header
{
background-color:rgba(0,0, 0, 0.2);
margin-top:-16px;	
}

.header a
{
	
	color:#264561;
}


/*End header*/
/*Start Dropdown Menu*/
.dropdown-menu
{
background-color:#1d0404;	
min-width:210px;
border-top:3px solid #E41B17;
}

.dropdown-menu > li > a
{
color:#BBB;	
padding:6px;
-webkit-transition:padding 0.5s ease;
-moz-transition:padding 0.5s ease;
transition:padding 0.5s ease;/*transition:padding 0.5s ease;:pour translater le lien vers gauche avec un temps de 0.5s losque je clique sur le */

}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus
{

color:#e4d5d0;
background-color:#e62128;	
padding-left:25px;	/*padding-left:25px;:pour translater le lien vers gauche losque je clique sur le*/

}

.dropdown-menu .divider
{
background-color:#8a5e5e;	
}
/*End Dropdown Menu*/
/*Start carousel*/
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 1400px;
    height: 400px;
}
/*End carousel*/

/*Start Parageraphe*/
section.breadcrumb
{
background-color:#d8dcf1;
margin-top:20px;	
}
section img
{
float:left;
width:190px;
height:100px;
margin-right:20px;	
}
section h5.color
{
color:#e2a56f;	
}
section h2
{
color:#428bca;	
}
section ul li
{
color:#428bca;	
}
/*End Parageraphe*/
 
/*Start mot du Doyen*/

div.breadcrumb
{
margin-left:90px;	
width:410px;
height:230px;
	
}
section .contenu-mot-doyen img
{
width: 80px;
height: 80px;
float:left;	
}

/*End mot Du Doyen*/
 
/*Start footer*/
footer.breadcrumb
{
	    background-color: #a7abc1;
		margin-bottom:0px;
		border-top:3px solid #3052d4;
}       
footer .footbot .container a
{
	color:#0d12f5;
}
footer .footbot .container a:hover
{
	color:#0d7df5
}
/*End footer*/





